@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --color-custom-black: #1b1b1b;
  --color-custom-red: #ed1c24;
  --color-custom-gray: #0d0d0d;
}

body {
  font-family: "Syne", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
